node_modules/
dist/
build/
.next/
.turbo/
coverage/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/copilot-instructions.md
.idea/
*.swp
.DS_Store
Thumbs.db

# prisma
*.db
*.db-journal

# fivem
apps/fivem-resources/cache/
apps/fivem-resources/server-data/

#claude
.claude/
